@charset "UTF-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "GmarketSansMedium";
}

/* 커스텀 */
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.top-bar .logo {
  display: inline-block;
}
.top-bar .logo img {
  width: 40%;
  height: 40%;
  max-height: 40%;
}

.top-bar__inner {
  padding-top: 40px;
  padding-inline: 3.5%;
  width: 100%;
  display: flex;
}

.top-bar__menu-1 .menu-item {
  padding-inline: 20px;
}
.top-bar__menu-1 .menu-item.menu-hover > a {
  color: #fff;
}
.top-bar__menu-1 .menu-item:hover:not(:last-child) > a {
  color: #fff;
}
.top-bar__menu-1 .menu-item:hover > a::after {
  color: #fff;
}
.top-bar__menu-1 .menu-item:hover .sub-menu-box {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 10px, 0);
}
.top-bar__menu-1 .menu-item:last-child {
  position: relative;
}
.top-bar__menu-1 .menu-item:last-child > a::after {
  content: "\f107";
  font-family: "fontAwesome";
  margin-left: 8px;
  transition: color 0.3s;
}
.top-bar__menu-1 .menu-item-text {
  color: #999;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 20px 5px;
  font-weight: bold;
  transition: color 0.3s;
}
.top-bar__menu-1 .sub-menu-box {
  position: absolute;
  width: 200px;
  background-color: #212121;
  color: #a9a9a9;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  border-radius: 3px;
  transform: translate3d(0, 20px, 0);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.top-bar__menu-1 .sub-menu-box .sub-menu {
  padding-block: 20px;
}
.top-bar__menu-1 .sub-menu-box .sub-menu .sub-menu-text {
  display: block;
  padding: 10px 25px 10px 20px;
  font-size: 14px;
  color: #a9a9a9;
  font-weight: bold;
}

.video-banner__inner {
  aspect-ratio: 2.33333;
}
.video-banner__inner .main-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.elementor-section {
  background-color: #000;
  padding-block: 200px;
}
.elementor-section .elementor-section-container {
  max-width: 1600px;
  margin: 0 auto;
}

.section-1__head .head-sub-title {
  font-size: 26px;
  font-weight: bold;
  color: #b9b9b9;
}
.section-1__head .head-main-title {
  font-size: 111px;
  font-weight: bold;
  color: #fff;
}

.section-1__body {
  margin-top: 100px;
}
.section-1__body .des-text {
  font-size: 20px;
  font-weight: bold;
  color: #9c9c9c;
}

.section-1__right-content {
  position: relative;
}
.section-1__right-content .btn-link {
  position: absolute;
  top: 50px;
  right: 100px;
}
.section-1__right-content .btn-link a {
  color: #fff;
  font-weight: bold;
  position: relative;
}
.section-1__right-content .btn-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
}