@charset "UTF-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "GmarketSansMedium";
}

/* 커스텀 */
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.top-bar .logo {
  display: inline-block;
}
.top-bar .logo img {
  width: 40%;
  height: 40%;
  max-height: 40%;
}

.top-bar__inner {
  padding-top: 40px;
  padding-inline: 3.5%;
  width: 100%;
  display: flex;
}

.top-bar__menu-1 .menu-item {
  padding-inline: 20px;
}
.top-bar__menu-1 .menu-item.menu-hover > a, .top-bar__menu-1 .menu-item:hover:not(:last-child) > a, .top-bar__menu-1 .menu-item:hover > a::after {
  color: #fff;
  opacity: 0.5;
}
.top-bar__menu-1 .menu-item:last-child > a::after {
  content: "\f107";
  font-family: "fontAwesome";
  margin-left: 8px;
  transition: color 0.3s, opacity 0.3s;
}
.top-bar__menu-1 .menu-item-text {
  color: #999;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 20px 5px;
  transition: color 0.3s, opacity 0.3s;
}