@charset "utf-8";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
}

/* 커스텀 */

// 탑바 구현 시작
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .logo {
    display: inline-block;

    img {
      width: 40%;
      height: 40%;
      max-height: 40%;
    }
  }
}

.top-bar__inner {
  padding-top: 40px;
  padding-inline: 3.5%;
  // padding-left, padding-right: 3.5%;
  width: 100%;
  display: flex;
}

.top-bar__menu-1 {
  $menu-text-color: #fff;

  .menu {
    &-item {
      // menu-item
      padding-inline: 20px;

      &.menu-hover > a {
        color: $menu-text-color;
      }

      @mixin hover-text() {
        color: $menu-text-color;
        opacity: 0.5;
      }

      &:hover:not(:last-child) > a {
        @include hover-text;
      }

      &:hover {
        > a::after {
          @include hover-text;
        }

        .sub-menu-box {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 10px, 0);
        }
      }

      &:last-child {
        position: relative;

        > a::after {
          content: "\f107";
          font-family: "fontAwesome";
          margin-left: 8px;
          transition: color 0.3s, opacity 0.3s;
        }
      }

      &-text {
        // menu-item-text
        color: #999;
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 20px 5px;
        transition: color 0.3s, opacity 0.3s;
      }
    }
  }

  .sub-menu-box {
    position: absolute;
    width: 200px;
    background-color: #212121;
    color: #a9a9a9;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    border-radius: 3px;
    transform: translate3d(0, 20px, 0);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    .sub-menu {
      padding-block: 20px;

      .sub-menu-text {
        display: block;
        padding: 10px 25px 10px 20px;
        font-size: 14px;
        color: #a9a9a9;
        font-weight: bold;
      }
    }
  }
}

// 탑바 구현 끝
